.header_logo{
    color:#3626A7;
    font-size: 24px;
    font-weight: 900;
}
.header_total_value{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 80px;
    border-radius: 26px;
    background: rgba(54, 38, 167, 0.10);
    color: #3626A7;

    font-size: 14px;
}